
<ul>
  <% @stores.each do |store| %>
  <li>
    Name: <%= store["longName"] %>
    <ul>
      <li>Distance: <%= store["distance"] %></li>
      <li>City: <%= store["city"] %></li>
      <li>Phone Number: <%= store["phone"] %></li>
      <li>Store Type: <%= store["storeType"] %></li>
    </ul>
  </li>
  <% end %>
</ul>
